<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="904c9396-0fd4-42ee-bb25-0a7a40f640b2"
	  Publisher="CN=William"
	  Version="1.0.0.0"/>

	<mp:PhoneIdentity PhoneProductId="904c9396-0fd4-42ee-bb25-0a7a40f640b2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>WeatherCollector_TimelapseCreator</DisplayName>
		<PublisherDisplayName>William</PublisherDisplayName>
		<Logo>Assets\Store\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="WeatherCollector_TimelapseCreator"
			  Description="WeatherCollector_TimelapseCreator"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Store\Square150x150Logo.png"
			  Square44x44Logo="Assets\Store\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png"/>
				<uap:SplashScreen Image="Assets\Store\SplashScreen.png"/>
			</uap:VisualElements>
			<Extensions>
				<desktop4:Extension Category="windows.fileExplorerContextMenus">
					<desktop4:FileExplorerContextMenus>
						<desktop5:ItemType Type="Directory">
							<desktop5:Verb Id="CustomMenu" Clsid="F9C0F6F4-122D-4E58-9D19-9DEE760FF040"/>
						</desktop5:ItemType>
						<desktop5:ItemType Type="*">
							<desktop5:Verb Id="CustomMenu" Clsid="F9C0F6F4-122D-4E58-9D19-9DEE760FF040"/>
						</desktop5:ItemType>
						<desktop5:ItemType Type="Directory\Background">
							<desktop5:Verb Id="CustomMenu" Clsid="F9C0F6F4-122D-4E58-9D19-9DEE760FF040"/>
						</desktop5:ItemType>
					</desktop4:FileExplorerContextMenus>
				</desktop4:Extension>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:SurrogateServer DisplayName="Custome Context Menu">
							<com:Class Id="F9C0F6F4-122D-4E58-9D19-9DEE760FF040" Path="ContextMenuCustomHost.dll" ThreadingModel="STA"/>
						</com:SurrogateServer>
					</com:ComServer>
				</com:Extension>
				<uap3:Extension Category="windows.appExecutionAlias">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="WeatherCollector_TimelapseCreator.exe"/>
					</uap3:AppExecutionAlias>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust"/>

    <rescap:Capability Name="broadFileSystemAccess" />
	</Capabilities>
</Package>
